<div class="mat-app-background" *ngIf="!isLoading">
  <mat-card class="example-card" *ngFor="let card of paginatedCards" (click)="navigateToDetails(card)" (contextmenu)="onLinkRightClick(card)">
    <a class="custom-link" [href]="'http://localhost:4200/' + mainCategory + '/post-details/'+ card.tableRefGuid" target="_self">
    <img mat-card-image
      [src]="(card?.gadgetImageList && card?.gadgetImageList[0]?.imageURL) || (card?.vehicleImageList && card?.vehicleImageList[0]?.imageURL) || '../../../assets/image_not_available.png'"
      alt="{{ card?.title }}" class="card-image">
    <mat-card-title class="title">{{ card?.price | currency:'INR' }}</mat-card-title>
    <mat-card-content class="description">
      <p style="margin: 0;">{{ card?.title }}</p>
      <p *ngIf="card?.year">{{ card?.year || '' }} - {{ card?.kmDriven ? card.kmDriven + ' kms' : '' }}</p>
      <div class="loc-date">
        <p class="loc">{{ card?.nearBy }},{{ card?.city }} , {{card?.state}}</p>
        <p class="date">{{formatDate(card?.createdOn)}}</p>
      </div>
    </mat-card-content>
  </a>
  </mat-card>
  <div *ngIf="paginatedCards.length == 0">
    <p class="noposts">No Posts found</p>
  </div>
</div>

<!-- <div>
  <mat-paginator [length]="cards.length" [pageSize]="pageSize" [pageIndex]="currentPage"
    (page)="onPageChange($event)"></mat-paginator>
</div> -->